.whatsapp {
  width:70px;
  position:fixed;
  left:5%;
  bottom:5%;
}

.whatsapp:hover {
  width:80px;
}

@media (max-width:800px) {
  .whatsapp {
    width:10px;
  }
  
  .whatsapp:hover {
  width:20px;
  }
}
